<html>  
	<head>
	
		<title>Home</title> 
		<link rel="stylesheet" href="..\\static\css\estilo.css"> 
	
	</head> 
	
	<body> 
	
		<h2>Sesión con el usuario: {{ nombre }}</h2>
		<div class="enlaces">
			<a href = "/salida">Logout</a><br>
		</div> 
		
		<h4 class="botones">
		
			<form action="./medialocal"	method="GET">
				<input type="submit" value="Media Local" id="medialocal"/>  
			</form>
			
			<form action="./mediaonline" method="GET">
				<input type="submit" value="Media Online" id="mediaonline"/> 
			</form>
			
		</h4>
		
		<h3> {{ avglocal }} {{ avgonline }} </h3>
 
	</body>  
	
</html> 







	
